// Styles.scss

body {
  margin: 0;
  font-family: 'MyCustomFont', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
